{{ if .Params.disable_profile | and .Params.disable_widgets }}
<section id="main" class="full-width">
{{ else }}
<section id="main">
{{ end }}
    <article id="page-undefined" class="article article-type-page" itemscope="" itemprop="blogPost">
        <div class="article-inner">
            {{ if and (isset .Params "banner") (not (eq .Params.banner "")) }}
                <img src="{{ .Params.banner | absURL }}" class="article-banner">
            {{ end }}

            {{ partial "article_header" . }}
            <div class="article-entry" itemprop="articleBody">
              {{ .Content }}
              {{ if .Params.series }}
              {{ $name := index .Params.series 0 }}
              <hr/>
	          <p><a href="" id="series"></a>
                Other posts in the <b>{{$name}}</b> series:</p>

              {{ $name := $name | urlize }}
              {{ $series := index .Site.Taxonomies.series $name }}
              <ul class="series">
                {{ range $series.Pages }}
    	        <li>{{ .Date.Format .Site.Params.date_format }} &mdash; <a href="{{.Permalink}}">{{.LinkTitle}}</a></li>
                {{end}}
              </ul>
              {{end}}
            </div>
            {{ partial "article_footer" . }}
        </div>

        {{ partial "prev_next_post" . }}
    </article>

    {{ if and (not (eq .Site.DisqusShortname "")) (not .Params.disable_comments) }}
    <section id="comments">
        <div id="disqus_thread">
            {{ template "_internal/disqus.html" . }}
        </div>
    </section>
    {{ end }}
</section>
